<p id="notice"><%= notice %></p>

<h1>شعراء</h1>

<%= link_to 'نیا شاعر شامل کریں', new_poet_path %>
<br>
<br>

<table>
  <thead>
   <!-- <tr>
      <th>نام</th>
      <th colspan="3"></th>
	 </tr> -->
  </thead>

  <tbody>
    <% @poets.each do |poet| %>
      <tr>
        <td><%= link_to poet.name, poet %></td>
				<td><%= link_to image_tag(poet.image_url(:thumb).to_s), poet %>
        <td><%= link_to "#{peot.name} کے اشعار", poet %></td>

        <%# <td><%= link_to 'تصحیح کریں', edit_poet_path(poet) %1></td> %>
				<%# <td><%= link_to 'Destroy', poet, method: :delete, data: { confirm: 'Are you sure?' } %1></td> %>

      </tr>
    <% end %>
  </tbody>
</table>


