<p id="notice"><%= notice %></p>

<%# <p> %>
<%# <strong> <%= @poet.name if Poet.exists? %1> کے اشعار </strong> %>
<%# </p> %>
<%# <p> %>
<%#  <%= image_tag(@poet.image_url.to_s) %1> %>
<%# </p> %>
<%# <% if Poet.exists? %1> %>
<%# <% @poet.couplets.each do |c|  %1> %>
<%# 	<p> <%= simple_format(c.couplet) %1></p> %>
<%# <% end %1> %>
<%# <% end %1> %>
<%#  <%= link_to 'Edit', edit_poet_path(@poet) %1> %> 
<%# <p> %> 
<%# <%= link_to 'تمام شعراء', poets_path %1> %>
<%# </p> %>


<div class="card m-5">

  <div class="card-header">
    <p>
    <strong> <%= @poet.name %> کے اشعار </strong>
    </p>
    <%= image_tag(@poet.image_url.to_s, class: "float-left") %>
  </div>

  <div class="card-body">
    <% @poet.couplets.each do |c|  %>
        <%= simple_format(c.couplet) %>
    <% end %>
  </div>

  <div class="card-footer">
    <%= link_to 'تمام شعراء', poets_path %>
  </div>
</div>
