<p id="notice"><%= notice %></p>

<h1>اشعار</h1>
<%= link_to 'نیا شعر شامل کریں', new_couplet_path %>
<table>
  <thead>
   <!-- <tr>
      <th>Couplet</th>
      <th>Poet</th>
      <th colspan="3"></th>
	 </tr> -->
  </thead>

  <tbody>
    <% @couplets.each do |couplet| %>
      <tr>
        <td><%= simple_format(couplet.couplet) %></td>
        <td><%= couplet.poet.name %></td>
        <td><%= link_to 'Show', couplet %></td>
        <td><%= link_to 'Edit', edit_couplet_path(couplet) %></td>
				<!-- <td><%= link_to 'Destroy', couplet, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

