<nav class="navbar navb-expand-lg navbar-light bg-light">
  <%= link_to 'سخنور', root_path %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'اشعار', couplets_path %>
      </li>
      <li>
        <%= link_to 'شعراء', poets_path %>
      </li>
      <% if user_signed_in? -%>
        <li><%= link_to 'سائن آوٹ', destroy_user_session_path, :method => :delete %></li>
      <% else -%>
        <li><%= link_to 'سائن ان', new_user_session_path %></li>
      <% end -%>
    </ul>
  </div>
</nav>
