<!DOCTYPE html>
<html dir="rtl" lang="ur">
  <head>
    <title>سخنور</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', cache: true, 'data-turbolinks-track': 'reload' %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
