<!DOCTYPE html>
<html dir="rtl">
  <head>
    <title>سخنور</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', cache: true, 'data-turbolinks-track': 'reload' %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<%= link_to 'سخنور', root_path %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
				<%= link_to 'اشعار', couplets_path %>
      </li>
			<li>
				<%= link_to 'شعراء', poets_path %>
			</li>
    </ul>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
